/* Global */

* {
	box-sizing: border-box;
}

body {
    font-family: 'Josefin Slab', serif;
}

btn {
    height: 50%;
}

li {
    color: #000000 !important;
    margin-top: 20px;
    z-index: 999;
}

li:hover {
	color: #000000 !important;
}

/* Individual IDs */

#collectionText {
    width: 100%;
}

#contentTray {
    margin-top: -150px;
}

#footer {
    background-color: rgb(255, 255, 255);
    margin: 100px 0 75px 0;
}

#headerImage {
    width: 100%;
}
